<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                          https://maven.apache.org/xsd/settings-1.0.0.xsd">
      <mirrors>
        <mirror>
          <id>codata</id>
          <name>CODATA Public Repository</name>
          <url>http://nexus-cicd-tools.apps.codatahml.pb.gov.br/repository/maven-public/</url>
          <mirrorOf>*</mirrorOf>
        </mirror>        
      </mirrors>
      <profiles>
        <profile>
          <id>enable-snapshots</id>
          <activation>
            <activeByDefault>true</activeByDefault>
          </activation>
          <repositories>
            <repository>
              <id>codata-public-with-snapshots</id>
              <name>CODATA Public Repository</name>
              <url>http://nexus-cicd-tools.apps.codatahml.pb.gov.br/repository/maven-public/</url>
              <releases>
                <enabled>true</enabled>
              </releases>
              <snapshots>
                <enabled>true</enabled>
                <updatePolicy>always</updatePolicy>
              </snapshots>
            </repository>
          </repositories>
        </profile>
      </profiles>
    </settings>
